body {
    padding: 0;
    margin: 0;
}

.link-text {
    color: #000 !important;
}

.link-text:hover {
    font-weight: 500;
}

.footer-container {
    background-color: #628b6b;
    height: 100px;
}

.top-heading {
    background-color: #628b6b;
    height: 50px;
    margin-top: 50px;
}

.heading-space {
    background-color: #628b6b;
    height: 20px;
}

.facebook-logo {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}