body {
    padding: 0;
    margin: 0;
}



.footer-container {
    background-color: #628b6b;
    height: 100px;
}

.top-heading {
    background-color: #628b6b;
    height: 50px;
}

.heading-space {
    background-color: #628b6b;
    height: 20px;
}

.facebook-logo {
    font-size: 30px;
    color: #fff;
}